{% extends 'layout/base.html' %}

{% block title %}
Inmuebles
{% endblock title %}
{% load humanize %}

{% block content %}
<style>
    .card-inmueble {
        transition: all 0.3s ease;
    }

    .card-inmueble:hover {
        /* box-shadow:  3px 3px 7px rgba(red, 0, 0, 5) ; */
        box-shadow: 0 0.1rem 0.5rem rgba(0, 0, 0, 0.3);
        scale: 1.02;
    }
</style>
<main class="container mb-5">  
    <h1>Lista de Inmuebles</h1>
    <div class="row">
        <form id="filter-form" action="{% url 'inmuebles' %}" method="get">
            <div class="row">
                <div class="col col-md-4">
                    <select class="form-select" name="region" id="region-select">
                        <option value="" selected>Seleccione Region</option>
                        {% for region in regiones %}
                        <option 
                        value="{{ region.nombre }}" 
                        {% if request.GET.region == region.nombre %} selected {% endif %}>
                            {{ region.nombre }}
                        </option>
                        {% endfor %}
                    </select>
                </div>
                
                <div class="col col-md-4">
                    <select class="form-select" name="comuna" id="comuna-select">
                        <option value="" selected>Seleccione comuna</option>
                        {% for comuna in comunas %}
                        <option 
                        value="{{ comuna.nombre }}" 
                        {% if request.GET.comuna == comuna.nombre %} selected {% endif %}>
                            {{ comuna.nombre }}
                        </option>
                        {% endfor %}
                    </select>
                </div>
                <div class="col">
                    <a class="btn btn-outline-secondary " href="{% url 'inmuebles' %}">Borrar filtros</a>
                </div>
            </div>
            <!-- <div class="col">
                <button class="btn btn-primary my-1"  type="submit">Filtrar</button>
            </div> -->
        </form>

    </div>
    <!-- style="width: 18rem;" -->
    <div class="row">
        {% for inmueble in inmuebles %}
        <div class="col col-lg-3 col-md-4 col-sm-12  mt-4">
            {% include 'components/inmueble_card.html' %}
        </div>
        {% endfor %}
    </div>
</main>

<script>
    document.getElementById('region-select').addEventListener('change', function() {
        document.getElementById('filter-form').submit(); // Envía el formulario automáticamente
    });
    document.getElementById('comuna-select').addEventListener('change', function() {
        document.getElementById('filter-form').submit(); // Envía el formulario automáticamente
    });
</script>

{% endblock content %}