{% load humanize %}
{% load static %}
<article class="card card-inmueble h-100 my-3">
    <a class="card-link stretched-link" href="{% url 'inmuebles_detalle' id_inmueble=inmueble.id %}"></a>
    <div class="card-header p-0">

        {% if inmueble.fotos.all %}
        <img src="{{inmueble.fotos.all.0.foto.url}}" class="w-100" alt="" srcset="">

        {% else %}
        <img src="{% static 'img/sinimage.webp' %}" class="w-100" alt="" srcset="">

        {% endif %}


        <!-- <h5 class="card-title">{{inmueble.nombre}}</h5> -->
    </div>
    <div class="card-body  py-0">
        <!-- <p>{{inmueble.descripcion}}</p> -->
        <!-- <p class="card-text display-6">${{inmueble.precio_mensual|floatformat|intcomma}}</p>
        <p class="card-text">{{inmueble.habitaciones}} Habitaciones | {{inmueble.banos}} Baños
            <br>{{inmueble.estacionamientos}} Estacionamientos
        </p>
        <p class="card-text">{{inmueble.m2_construidos|floatformat}} m² Construidos <br>
            {{inmueble.m2_totales|floatformat}} m² Totales</p> -->
        <div class="row my-3">
            <div class="col">
                <p class="display-6 fs-4 mb-0">{{inmueble.banos}} <img src="{% static 'bath.svg' %}" alt="Baños icon"
                        width="30em"></p>
            </div>
            <div class="col">
                <p class="display-6 fs-4 mb-0">{{inmueble.habitaciones}} <img src="{% static 'bed.svg' %}"
                        alt="Habitaciones icon" width="30em"></p>

            </div>
            <div class="col">
                <p class="display-6 fs-4 mb-0">{{inmueble.estacionamientos}} <img src="{% static 'car2.svg' %}"
                        alt="Estacionamientos icon" width="30em">
                </p>
            </div>
        </div>
        <div class="row mb-0">
            <div class="col">
                <p class="card-text ">{{inmueble.m2_construidos|floatformat}} m² Construidos <br>
                    {{inmueble.m2_totales|floatformat}} m² Totales</p>
            </div>
        </div>
    </div>
    <div class="card-footer">
        <p class="card-text mb-0">{{inmueble.comuna}}</p>
        <p class="card-text">{{inmueble.direccion}}</p>
    </div>
</article>